@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-: #050f2ba6;
  --light-: #eeeeee;

  /* Fonts */
  --font-default: 'Inter', sans-serif;
  --font-parag: 'Nunito', sans-serif;
  --font-title: 'Roboto', sans-serif;
  --font-custom: 'Oswald', sans-serif;
}
.code {
  width: auto;
  display: flex;
  background-color: #1a1a1a;
  padding: 1rem;
  color: #b3b4b4;
  user-select: auto;
}
@media (max-width: 987px) {
  .code {
    overflow-x: scroll;
  }
}

@font-face {
  font-family: 'Shikamaru';
  font-weight: 400;
  src: url('/fonts/shikamaru-shikamaru-400.ttf') format('truetype');
}

body {
  letter-spacing: 0.035em;
  overflow-x: hidden;
  font-family: var(--font-default);
}
section {
  margin: 4rem 0;
}

h1,
h2 {
  font-family: 'Shikamaru';
}

h3,
h4,
h5,
h6 {
  font-family: var(--font-default);
}
p {
  font-family: var(--font-parag);
}
/* DarkMode Setup */
.dark {
  background-color: var(--dark-);
  transition: all 150ms linear;
}
.title_sosmed {
  font-family: 'Shikamaru', sans-serif !important;
}

.light {
  background-color: var(--light-);
  transition: 300ms linear;
}

/* Setup End */

label {
  color: black !important;
}

.dark label {
  color: #b3b4b4 !important;
}
.dark .authors {
  color: #c5c5c5 !important;
}
.dark .skillBarTitle {
  color: #c5c5c5 !important;
}
/* Nav */
.logo_animate {
  transition: all 0.3s linear;
}
.nav_colors a span.logo_animate {
  top: -2rem;
  left: -8rem;
  width: 14rem;
  height: 14rem;
  transform-origin: left;
}
@media (max-width: 768px) {
  .logo_animate {
    display: none;
  }
}

.nav__color a span.logo_animate {
  top: -2rem;
  width: 6rem;
  height: 6rem;
}

.navLink {
  margin-inline-end: 3rem;
}

.dark .navLink a {
  color: var(--light-);
}
.light .navLink a {
  color: var(--dark-);
}
.nav__color .navLink a {
  color: var(--light-);
}
.nav_colors {
  backdrop-filter: none;
  height: 4.5rem;
  transition: all 300ms ease-in-out;
}

.nav_colors span {
  color: black;
}
.dark .nav_colors span {
  color: var(--light-);
}
.light .mobile {
  color: #444 !important;
}
.mobile {
  font-weight: bold;
  color: rgb(151, 150, 150) !important;
}
.mobile__logo {
  background: linear-gradient(
    to right,
    rgba(4, 97, 236, 0.295),
    rgba(121, 92, 190, 0.9)
  );
  border-radius: 10px;
}

.dark .nav_colors .mobile {
  color: #444;
  font-weight: bold;
}

.nav_colors .active {
  color: var(--dark-);
}
.dark .nav_colors a {
  color: var(--light-);
}
.dark .blogTitle {
  color: rgb(170, 169, 169);
}
.active {
  color: var(--light-);
  border-bottom: 1px solid rgba(74, 141, 243, 0.973);
  padding: 3px 0;
  font-weight: bold;
}
.dark .textwriter {
  color: #e4e6eb;
}
.textwriter {
  font-family: var(--font-title);
}

/* Nav mobile Custom */
.dark .navSide {
  background: #00030ca6;
}
.dark .navSide_Menu {
  background: #121318;
}
.dark .mobile__logo {
  box-shadow: 0px 3px 12px 1px rgba(157, 159, 231, 0.521);
}

.light .nav__color .type {
  color: #333;
}
.dark .nav__color .type {
  color: #777;
}

/* Hero */

.animates {
  animation: moves 4s infinite alternate-reverse;
}
@keyframes moves {
  0% {
    top: -5%;
    transform: scale(1.1) rotate(2deg);
    opacity: 0.2;
  }
  100% {
    top: 0;
    transform: scale(1.05) rotate(0);
  }
}

.animates_2 {
  animation: moves_2 3s infinite alternate-reverse;
}
@keyframes moves_2 {
  0% {
    bottom: -30%;
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    bottom: 0;
    transform: scale(1.02) rotate(0);
  }
}

.instagram {
  color: rgba(0, 0, 0, 0.6);
}
.facebook {
  color: rgba(0, 0, 0, 0.6);
}
.linkedin {
  color: rgba(0, 0, 0, 0.6);
}
.github {
  color: rgba(0, 0, 0, 0.6);
}

.instagram:hover {
  color: purple;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-8%);
}
.facebook:hover {
  color: rgb(42, 42, 250);
  transition: transform 0.3s ease-in-out;
  transform: translateY(-8%);
}
.linkedin:hover {
  color: rgb(16, 96, 202);
  transition: transform 0.3s ease-in-out;
  transform: translateY(-8%);
}
.github:hover {
  color: black;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-8%);
}
.bg_1:hover img {
  transform: scale(1);
}
.bg_1:hover .bg_2 {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.bg_1 .bg_3 {
  transform: translateY(50%) scale(0);

  opacity: 0.1;
}
.bg_1:hover .bg_3 {
  transform: translateY(0) scale(1);
  opacity: 1;
}
.bg_3 h3 {
  color: #2350ce;
  text-shadow: 1px 1px 4px rgb(29, 28, 29);
}
@media (max-width: 768px) {
  .bg_1 .bg_3 {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Kubus1 */
.container {
  perspective: 300px;
  width: 200px;
  height: 200px;
  opacity: 0.8;
}
@media (max-width: 768px) {
  .container {
    perspective: 1000px;
  }
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
}

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 1;
}

.front {
  transform: rotateY(0deg) translateZ(150px);
}
.right {
  transform: rotateY(90deg) translateZ(150px);
}
.back {
  transform: rotateY(180deg) translateZ(150px);
}
.left {
  transform: rotateY(-90deg) translateZ(150px);
}
.top {
  transform: rotateX(90deg) translateZ(150px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(150px);
}
