@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --dark-: #050f2ba6; */
  --dark-: #171717;
  /* --light-: #eeeeee; */

  /* Fonts */
  --font-default: 'Inter', sans-serif;
  --font-parag: 'Nunito', sans-serif;
  --font-title: 'Roboto', sans-serif;
  --font-custom: 'Oswald', sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
/* ::-webkit-scrollbar-track {
  background: #111;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    rgb(104, 49, 231),
    rgba(255, 255, 255, 0)
  );
  border-radius: 10px;
} */

::selection {
  @apply bg-transparent bg-opacity-10 text-black;
}

.code {
  width: auto;
  display: flex;
  background-color: #1a1a1a;
  padding: 1rem;
  color: #b3b4b4;
  user-select: auto;
}
@media (max-width: 987px) {
  .code {
    overflow-x: scroll;
  }
}

@font-face {
  font-family: 'Shikamaru';
  font-weight: 400;
  src: local('Shikamaru'),
    url('/fonts/shikamaru-shikamaru-400.ttf') format('truetype');
}

body {
  letter-spacing: 0.035em;
  overflow-x: hidden;
  font-family: var(--font-parag);
  background-color: var(--dark-);
}
section {
  margin: 4rem 0;
}

h1,
h2 {
  font-family: 'Roboto';
}

h3,
h4,
h5,
h6 {
  font-family: var(--font-parag);
}

label {
  color: #e9e9e9;
}
.authors {
  color: #dbdbdb;
}
.skillBarTitle {
  color: #999999;
}
/* Nav */

.navLink {
  margin-inline-end: 3rem;
}

.navLink a {
  color: white;
}
.navLink a {
  color: #cccccc;
}
.nav__color .navLink a {
  color: #b3b4b4;
}
.nav__color .navLink a.active {
  color: white;
}
.nav_colors {
  height: 4.5rem;
  transition: all 300ms ease-in-out;
}

.nav_colors span {
  color: white;
}

.mobile {
  font-weight: bold;
  color: rgb(151, 150, 150) !important;
}
.mobile__logo {
  background: linear-gradient(
    to right,
    rgba(4, 97, 236, 0.295),
    rgba(121, 92, 190, 0.9)
  );
  border-radius: 10px;
}

.nav_colors .mobile {
  font-weight: bold;
}

.nav_colors .active {
  color: white;
}
.nav_colors a {
  color: #b3b4b4;
}
.blogTitle {
  color: rgb(238, 238, 238);
}
.active {
  color: white;
  border-bottom: 2px solid rgba(96, 78, 252, 0.678);
  padding: 3px 0;
  font-weight: bold;
}

/* Hero */
.slider-thumb::before {
  content: '';
  position: absolute;
  left: 20%;
  top: 20%;
  width: 790px;
  height: 670px;
  background: linear-gradient(
    374deg,
    rgba(115, 18, 241, 0.164),
    rgba(0, 0, 0, 0.5)
  );
  box-shadow: inset 0px 0px 15px #1413133b;
  border-radius: 72% 47% 82% 25% / 45% 45% 60% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  display: block;
  z-index: -10;
  -webkit-animation: sliderShape 8s linear infinite;
}

@keyframes sliderShape {
  0%,
  100% {
    border-radius: 32% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 60% 30% 46% 54% / 30% 29% 71% 70%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  50% {
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
}

.animates_2 {
  animation: moves_2 3s infinite alternate-reverse;
}
@keyframes moves_2 {
  0% {
    bottom: -30%;
    transform: scale(1.1) rotate(-8deg);
  }
  100% {
    bottom: 0;
    transform: scale(1.02) rotate(0);
  }
}

/* Kubus1 */
/* .container {
  perspective: 300px;
  width: 400px;
  height: 400px;
  opacity: 0.8;
}

.icons {
  width: 400px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
}

.side {
  position: absolute;
  width: 120%;
  height: 120%;
  background-color: transparent;
  opacity: 1;
}

.front {
  transform: rotateY(0deg) translateZ(150px);
}
.right {
  transform: rotateY(90deg) translateZ(150px);
}
.back {
  transform: rotateY(180deg) translateZ(150px);
}
.left {
  transform: rotateY(-90deg) translateZ(150px);
}
.top {
  transform: rotateX(90deg) translateZ(150px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(150px);
} */

/* POSTDETAIL */
.headingOne,
.headingTwo {
  font-size: 2rem;
  line-height: normal;
  font-weight: bold;
  padding-top: 50px !important;
}

.headingOne,
.headingTwo {
  color: #cccccc;
}
.subtitle {
  color: #cccccc;
}

.subtitle {
  font-size: 1.6rem;
  padding-top: 20px;
}
